<a href="https://colab.research.google.com/github/jlsgodev/dados/blob/main/TRIGGER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
CREATE TABLE IF NOT EXISTS DEPARTAMENTO_LOG (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    operacao VARCHAR(10),
    numdepto INT,
    nome VARCHAR(70),
    usuario VARCHAR(255),
    data_hora TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


CREATE TRIGGER trg_departamento_insert
AFTER INSERT ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    INSERT INTO DEPARTAMENTO_LOG (operacao, numdepto, nome, usuario, data_hora)
    VALUES ('INSERT', NEW.numdepto, NEW.nome, CURRENT_USER(), NOW());
END;


-- INSERINDO NOVO DEPARTAMENTO NA TABELA DEPARTAMENTO
INSERT INTO DEPARTAMENTO (numdepto, nome) VALUES
(99, 'Pesquisa')

select * from DEPARTAMENTO

SELECT * FROM DEPARTAMENTO_LOG

CREATE TRIGGER trg_departamento_update
AFTER UPDATE ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    INSERT INTO DEPARTAMENTO_LOG (operacao, numdepto, nome, usuario, data_hora)
    VALUES ('UPDATE', NEW.numdepto, NEW.nome, CURRENT_USER(), NOW());
END;

--ATUALIZANDO NUMDEPTO PARA 50
UPDATE DEPARTAMENTO SET numdepto = 50 WHERE numdepto = 99

-- delete trigger

CREATE TRIGGER trg_departamento_delete
AFTER DELETE ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    INSERT INTO DEPARTAMENTO_LOG (operacao, numdepto, nome, usuario, data_hora)
    VALUES ('DELETE', OLD.numdepto, OLD.nome, CURRENT_USER(), NOW());
END;

-- EXCLUINDO DEPARTAMNTO (TI)  NUMDEPTO 15 E 16
DELETE FROM DEPARTAMENTO WHERE numdepto = 15 OR numdepto = 16;

-- NOVA TABELA (UPDATE LOG)
CREATE TABLE IF NOT EXISTS DEPARTAMENTO_UPDATE_LOG (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    numdepto INT,
    old_nome VARCHAR(70),
    new_nome VARCHAR(70),
    usuario VARCHAR(255),
    data_hora TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE PROCEDURE log_departamento (
    IN operacao VARCHAR(10),
    IN depto_numdepto INT,
    IN depto_nome VARCHAR(70)
)
BEGIN
    INSERT INTO DEPARTAMENTO_LOG (operacao, numdepto, nome, usuario, data_hora)
    VALUES (operacao, depto_numdepto, depto_nome, CURRENT_USER(), NOW());
END;


CREATE PROCEDURE log_departamento_update (
    IN depto_numdepto INT,
    IN old_nome VARCHAR(70),
    IN new_nome VARCHAR(70)
)
BEGIN
    INSERT INTO DEPARTAMENTO_UPDATE_LOG (numdepto, old_nome, new_nome, usuario, data_hora)
    VALUES (depto_numdepto, old_nome, new_nome, CURRENT_USER(), NOW());
END;


CREATE TRIGGER trg_departamento_insert2
AFTER INSERT ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    CALL log_departamento('INSERT', NEW.numdepto, NEW.nome);
END;


CREATE TRIGGER trg_departamento_delete2
AFTER DELETE ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    CALL log_departamento('DELETE', OLD.numdepto, OLD.nome);
END;


CREATE TRIGGER trg_departamento_update2
AFTER UPDATE ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    CALL log_departamento_update(
        NEW.numdepto,
        OLD.nome, NEW.nome
    );
END;

In [ ]:
Claro! Vou comentar cada parte do código e adicionar informações relevantes sobre triggers.

```sql
-- Criação da tabela DEPARTAMENTO_LOG para armazenar logs de operações
CREATE TABLE IF NOT EXISTS DEPARTAMENTO_LOG (
    log_id INT AUTO_INCREMENT PRIMARY KEY, -- ID único e auto-incrementado para cada log
    operacao VARCHAR(10), -- Tipo de operação (INSERT, UPDATE, DELETE)
    numdepto INT, -- Número do departamento
    nome VARCHAR(70), -- Nome do departamento
    usuario VARCHAR(255), -- Usuário que realizou a operação
    data_hora TIMESTAMP DEFAULT CURRENT_TIMESTAMP -- Data e hora da operação
);

-- Criação do trigger para inserções na tabela DEPARTAMENTO
CREATE TRIGGER trg_departamento_insert
AFTER INSERT ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    -- Insere um log na tabela DEPARTAMENTO_LOG após uma inserção na tabela DEPARTAMENTO
    INSERT INTO DEPARTAMENTO_LOG (operacao, numdepto, nome, usuario, data_hora)
    VALUES ('INSERT', NEW.numdepto, NEW.nome, CURRENT_USER(), NOW());
END;

-- Inserindo um novo departamento na tabela DEPARTAMENTO
INSERT INTO DEPARTAMENTO (numdepto, nome) VALUES
(99, 'Pesquisa');

-- Selecionando todos os registros da tabela DEPARTAMENTO
SELECT * FROM DEPARTAMENTO;

-- Selecionando todos os registros da tabela DEPARTAMENTO_LOG
SELECT * FROM DEPARTAMENTO_LOG;

-- Criação do trigger para atualizações na tabela DEPARTAMENTO
CREATE TRIGGER trg_departamento_update
AFTER UPDATE ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    -- Insere um log na tabela DEPARTAMENTO_LOG após uma atualização na tabela DEPARTAMENTO
    INSERT INTO DEPARTAMENTO_LOG (operacao, numdepto, nome, usuario, data_hora)
    VALUES ('UPDATE', NEW.numdepto, NEW.nome, CURRENT_USER(), NOW());
END;

-- Atualizando o número do departamento para 50
UPDATE DEPARTAMENTO SET numdepto = 50 WHERE numdepto = 99;

-- Criação do trigger para exclusões na tabela DEPARTAMENTO
CREATE TRIGGER trg_departamento_delete
AFTER DELETE ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    -- Insere um log na tabela DEPARTAMENTO_LOG após uma exclusão na tabela DEPARTAMENTO
    INSERT INTO DEPARTAMENTO_LOG (operacao, numdepto, nome, usuario, data_hora)
    VALUES ('DELETE', OLD.numdepto, OLD.nome, CURRENT_USER(), NOW());
END;

-- Excluindo departamentos com numdepto 15 e 16
DELETE FROM DEPARTAMENTO WHERE numdepto = 15 OR numdepto = 16;

-- Criação da tabela DEPARTAMENTO_UPDATE_LOG para armazenar logs de atualizações
CREATE TABLE IF NOT EXISTS DEPARTAMENTO_UPDATE_LOG (
    log_id INT AUTO_INCREMENT PRIMARY KEY, -- ID único e auto-incrementado para cada log
    numdepto INT, -- Número do departamento
    old_nome VARCHAR(70), -- Nome antigo do departamento
    new_nome VARCHAR(70), -- Nome novo do departamento
    usuario VARCHAR(255), -- Usuário que realizou a operação
    data_hora TIMESTAMP DEFAULT CURRENT_TIMESTAMP -- Data e hora da operação
);

-- Criação da procedure para inserir logs na tabela DEPARTAMENTO_LOG
CREATE PROCEDURE log_departamento (
    IN operacao VARCHAR(10), -- Tipo de operação
    IN depto_numdepto INT, -- Número do departamento
    IN depto_nome VARCHAR(70) -- Nome do departamento
)
BEGIN
    -- Insere um log na tabela DEPARTAMENTO_LOG
    INSERT INTO DEPARTAMENTO_LOG (operacao, numdepto, nome, usuario, data_hora)
    VALUES (operacao, depto_numdepto, depto_nome, CURRENT_USER(), NOW());
END;

-- Criação da procedure para inserir logs na tabela DEPARTAMENTO_UPDATE_LOG
CREATE PROCEDURE log_departamento_update (
    IN depto_numdepto INT, -- Número do departamento
    IN old_nome VARCHAR(70), -- Nome antigo do departamento
    IN new_nome VARCHAR(70) -- Nome novo do departamento
)
BEGIN
    -- Insere um log na tabela DEPARTAMENTO_UPDATE_LOG
    INSERT INTO DEPARTAMENTO_UPDATE_LOG (numdepto, old_nome, new_nome, usuario, data_hora)
    VALUES (depto_numdepto, old_nome, new_nome, CURRENT_USER(), NOW());
END;

-- Criação do trigger para inserções na tabela DEPARTAMENTO usando a procedure
CREATE TRIGGER trg_departamento_insert2
AFTER INSERT ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    -- Chama a procedure log_departamento para inserir um log após uma inserção na tabela DEPARTAMENTO
    CALL log_departamento('INSERT', NEW.numdepto, NEW.nome);
END;

-- Criação do trigger para exclusões na tabela DEPARTAMENTO usando a procedure
CREATE TRIGGER trg_departamento_delete2
AFTER DELETE ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    -- Chama a procedure log_departamento para inserir um log após uma exclusão na tabela DEPARTAMENTO
    CALL log_departamento('DELETE', OLD.numdepto, OLD.nome);
END;

-- Criação do trigger para atualizações na tabela DEPARTAMENTO usando a procedure
CREATE TRIGGER trg_departamento_update2
AFTER UPDATE ON DEPARTAMENTO
FOR EACH ROW
BEGIN
    -- Chama a procedure log_departamento_update para inserir um log após uma atualização na tabela DEPARTAMENTO
    CALL log_departamento_update(
        NEW.numdepto,
        OLD.nome, NEW.nome
    );
END;
```

### Explicação sobre Triggers

**Triggers** são objetos de banco de dados que são acionados automaticamente em resposta a certos eventos (como INSERT, UPDATE ou DELETE) em uma tabela específica. Eles são usados para garantir a integridade dos dados, auditar mudanças e automatizar tarefas.

- **AFTER INSERT**: Acionado após uma inserção na tabela.
- **AFTER UPDATE**: Acionado após uma atualização na tabela.
- **AFTER DELETE**: Acionado após uma exclusão na tabela.

### Procedures

**Procedures** são blocos de código SQL que podem ser chamados para executar tarefas específicas. Eles são úteis para modularizar o código e reutilizar lógica.

### NEW e OLD

- **NEW**: Referência aos novos valores dos campos após uma operação de INSERT ou UPDATE.
- **OLD**: Referência aos valores antigos dos campos antes de uma operação de UPDATE ou DELETE.

### CURRENT_USER() e NOW()

- **CURRENT_USER()**: Retorna o nome do usuário atual.
- **NOW()**: Retorna a data e hora atuais.

Espero que essas explicações ajudem no seu estudo e consultas futuras!

In [ ]:
Claro! Vou criar os triggers e procedures para a tabela `EMPREGADO_HABILIDADE` seguindo o mesmo padrão que foi utilizado para as tabelas anteriores.

### Criação da Tabela `EMPREGADO_HABILIDADE_LOG`

```sql
CREATE TABLE IF NOT EXISTS EMPREGADO_HABILIDADE_LOG (
    log_id INT AUTO_INCREMENT PRIMARY KEY, -- ID único e auto-incrementado para cada log
    operacao VARCHAR(10), -- Tipo de operação (INSERT, UPDATE, DELETE)
    matricula INT, -- Matrícula do empregado
    codhabilidade INT, -- Código da habilidade
    usuario VARCHAR(255), -- Usuário que realizou a operação
    data_hora TIMESTAMP DEFAULT CURRENT_TIMESTAMP -- Data e hora da operação
);
```

### Criação dos Triggers para a Tabela `EMPREGADO_HABILIDADE`

#### Trigger para Inserções

```sql
CREATE TRIGGER trg_empregado_habilidade_insert
AFTER INSERT ON EMPREGADO_HABILIDADE
FOR EACH ROW
BEGIN
    INSERT INTO EMPREGADO_HABILIDADE_LOG (operacao, matricula, codhabilidade, usuario, data_hora)
    VALUES ('INSERT', NEW.matricula, NEW.codhabilidade, CURRENT_USER(), NOW());
END;
```

#### Trigger para Atualizações

```sql
CREATE TRIGGER trg_empregado_habilidade_update
AFTER UPDATE ON EMPREGADO_HABILIDADE
FOR EACH ROW
BEGIN
    INSERT INTO EMPREGADO_HABILIDADE_LOG (operacao, matricula, codhabilidade, usuario, data_hora)
    VALUES ('UPDATE', NEW.matricula, NEW.codhabilidade, CURRENT_USER(), NOW());
END;
```

#### Trigger para Exclusões

```sql
CREATE TRIGGER trg_empregado_habilidade_delete
AFTER DELETE ON EMPREGADO_HABILIDADE
FOR EACH ROW
BEGIN
    INSERT INTO EMPREGADO_HABILIDADE_LOG (operacao, matricula, codhabilidade, usuario, data_hora)
    VALUES ('DELETE', OLD.matricula, OLD.codhabilidade, CURRENT_USER(), NOW());
END;
```

### Criação da Tabela `EMPREGADO_HABILIDADE_UPDATE_LOG`

```sql
CREATE TABLE IF NOT EXISTS EMPREGADO_HABILIDADE_UPDATE_LOG (
    log_id INT AUTO_INCREMENT PRIMARY KEY, -- ID único e auto-incrementado para cada log
    matricula INT, -- Matrícula do empregado
    codhabilidade INT, -- Código da habilidade
    old_codhabilidade INT, -- Código antigo da habilidade
    new_codhabilidade INT, -- Código novo da habilidade
    usuario VARCHAR(255), -- Usuário que realizou a operação
    data_hora TIMESTAMP DEFAULT CURRENT_TIMESTAMP -- Data e hora da operação
);
```

### Criação das Procedures

#### Procedure para Inserir Logs na Tabela `EMPREGADO_HABILIDADE_LOG`

```sql
CREATE PROCEDURE log_empregado_habilidade (
    IN operacao VARCHAR(10), -- Tipo de operação
    IN empregado_habilidade_matricula INT, -- Matrícula do empregado
    IN empregado_habilidade_codhabilidade INT -- Código da habilidade
)
BEGIN
    INSERT INTO EMPREGADO_HABILIDADE_LOG (operacao, matricula, codhabilidade, usuario, data_hora)
    VALUES (operacao, empregado_habilidade_matricula, empregado_habilidade_codhabilidade, CURRENT_USER(), NOW());
END;
```

#### Procedure para Inserir Logs na Tabela `EMPREGADO_HABILIDADE_UPDATE_LOG`

```sql
CREATE PROCEDURE log_empregado_habilidade_update (
    IN empregado_habilidade_matricula INT, -- Matrícula do empregado
    IN empregado_habilidade_codhabilidade INT, -- Código da habilidade
    IN old_codhabilidade INT, -- Código antigo da habilidade
    IN new_codhabilidade INT -- Código novo da habilidade
)
BEGIN
    INSERT INTO EMPREGADO_HABILIDADE_UPDATE_LOG (matricula, codhabilidade, old_codhabilidade, new_codhabilidade, usuario, data_hora)
    VALUES (empregado_habilidade_matricula, empregado_habilidade_codhabilidade, old_codhabilidade, new_codhabilidade, CURRENT_USER(), NOW());
END;
```

### Criação dos Triggers Utilizando Procedures

#### Trigger para Inserções

```sql
CREATE TRIGGER trg_empregado_habilidade_insert2
AFTER INSERT ON EMPREGADO_HABILIDADE
FOR EACH ROW
BEGIN
    CALL log_empregado_habilidade('INSERT', NEW.matricula, NEW.codhabilidade);
END;
```

#### Trigger para Exclusões

```sql
CREATE TRIGGER trg_empregado_habilidade_delete2
AFTER DELETE ON EMPREGADO_HABILIDADE
FOR EACH ROW
BEGIN
    CALL log_empregado_habilidade('DELETE', OLD.matricula, OLD.codhabilidade);
END;
```

#### Trigger para Atualizações

```sql
CREATE TRIGGER trg_empregado_habilidade_update2
AFTER UPDATE ON EMPREGADO_HABILIDADE
FOR EACH ROW
BEGIN
    CALL log_empregado_habilidade_update(
        NEW.matricula, NEW.codhabilidade,
        OLD.codhabilidade, NEW.codhabilidade
    );
END;
```

### Exemplos de Operações

#### Inserindo Novos Registros em `EMPREGADO_HABILIDADE`

```sql
INSERT INTO EMPREGADO_HABILIDADE (matricula, codhabilidade) VALUES (1, 2);
INSERT INTO EMPREGADO_HABILIDADE (matricula, codhabilidade) VALUES (2, 1);
INSERT INTO EMPREGADO_HABILIDADE (matricula, codhabilidade) VALUES (3, 3);
INSERT INTO EMPREGADO_HABILIDADE (matricula, codhabilidade) VALUES (4, 4);
INSERT INTO EMPREGADO_HABILIDADE (matricula, codhabilidade) VALUES (5, 5);
```

#### Atualizando um Registro em `EMPREGADO_HABILIDADE`

```sql
UPDATE EMPREGADO_HABILIDADE SET codhabilidade = 6 WHERE matricula = 1 AND codhabilidade = 2;
```

#### Excluindo um Registro em `EMPREGADO_HABILIDADE`

```sql
DELETE FROM EMPREGADO_HABILIDADE WHERE matricula = 1 AND codhabilidade = 6;
```

### Consultando os Logs

#### Logs Gerais

```sql
SELECT * FROM EMPREGADO_HABILIDADE_LOG;
```

#### Logs de Atualizações

```sql
SELECT * FROM EMPREGADO_HABILIDADE_UPDATE_LOG;
```

Espero que isso ajude! Se precisar de mais alguma coisa, estou à disposição.